:root {
  --indigo-100: #e2dbf0;
  --indigo-200: #c6b7e2;
  --indigo-300: #a994d3;
  --indigo-400: #8d70c5;
  --indigo-500: #704cb6;
  --indigo-600: #5a3d92;
  --indigo-700: #432e6d;
  --indigo-800: #2d1e49;
  --indigo-900: #160f24;
}
